python-dotenv
streamlit
PyPDF2
langchain-groq
langchain
langchain-google-genai
faiss-cpu
typing-extensions
langchain-community
aiohttp
pytesseract
Pillow
pdf2image
pandas
numpy
plotly
av
groq
